<div class="row pb-2">
    <div class="col-md-12">
        <button class="add-product" mat-raised-button (click)="onClickAddProduct()">Add Product</button>
    </div>
</div>

<div class="row pb-2" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <h3 *ngIf="productlist.length==0 && !loader">No Cart Item</h3>
    <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
    <div *ngFor="let product of productlist" class="col-md-12 list" style="border: 1px solid gray;">
        <div class="row product-row pb-2">
            <div class="col-md-2">
                <label class="font-weight-bold">Img</label> <br />
                <img class="ml-1 mb-1" [src]="product.image" alt="" height="30px" width="30px">
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">Product Name</label> <br />
                <span>{{product?.name}}</span>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">Quantity</label> <br />
                <span>{{product?.quantity}}</span>

            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">Size</label> <br />
                <span>{{product.size[0].name}}</span>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">Total Price</label> <br />
                <span>{{product?.totalPrice}}</span>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">Edit/Delete</label> <br />
                <button class="edit-btn pointer-cursor" mat-raised-button color="primary"
                    (click)="onClickEdit(product.id)">Edit</button>
                &nbsp;&nbsp;
                <button class="delete-btn pointer-cursor" mat-raised-button color="warn"
                    (click)="onClickDelete(product.id)">Delete</button>
            </div>
        </div>
    </div>
</div>