<nav class="navbar navbar-expand-sm bg-light navbar-light header">
  <ul class="navbar-nav" id="navbarNav">
    <li class="nav-item">

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart-list" >Cart List</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <span class="pointer" (click)="onClickCartCount(is_showCart)">Cart count ({{getCartItemCount()}})</span>
    </li>

  </ul>
</nav>

<app-header-cart *ngIf="is_showCart" [cartItems]="cartlist"></app-header-cart>