
.header{
    height: 72px;
    border-bottom: 1px solid #DFDFDF;
    background: #F3F3F3;
    box-shadow: 0 0 3px #C3C3C3;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    padding-bottom: 20px;
}

.header-menu{
    margin-left: 86px;
}
ul li a{
    color: black;
}

ul li a:hover{
    color: #26bbad;
}

.app-name{
color: #26bbad;
font-size: 40px;
}


