<nav class="navbar navbar-expand-sm header">
  <span class="app-name">
    E-Shop
  </span>
  <ul class="navbar-nav header-menu">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart-list">Cart List</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item pr-5">
      <mat-icon class="pointer" [matBadge]="getCartItemCount()" matBadgeColor="primary"
        (click)="onClickCartCount(is_showCart)">add_shopping_cart</mat-icon>
    </li>

  </ul>
</nav>

<app-header-cart *ngIf="is_showCart" [cartItems]="cartlist"></app-header-cart>