<div class="row mb-3">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header class="add-cart-header">
                <div>
                    <mat-card-title>{{btn_text}} Product</mat-card-title>
                </div>
                <div>
                    <button class="back-btn" mat-raised-button (click)="onClickBack()">Back</button>
                </div>
            </mat-card-header>

            <form [formGroup]="productForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Name" formControlName="name">
                            <span>
                                <small
                                    *ngIf="productForm.get('name').hasError('required') && productForm.get('name').touched"
                                    class="error">
                                    Name is required
                                </small>
                            </span>
                        </mat-form-field>
                    </div>



                    <div class="col-md-12">
                        <mat-form-field style="width: 100%">
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                            <span>
                                <small
                                    *ngIf="productForm.get('description').hasError('required') && productForm.get('description').touched"
                                    class="error">
                                    Description is required
                                </small>
                            </span>
                        </mat-form-field>
                    </div>


                    <div class="col-md-12" formArrayName="size"
                        *ngFor="let product of productForm.get('size').controls; let i = index;">
                        <div [formGroupName]="i">
                            <div class="row">
                                <input type="hidden" formControlName="id">
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="size" formControlName="name">

                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="Price" type="number" formControlName="price"
                                            class="right-align">
                                        <span matPrefix>$&nbsp;</span>
                                        <span matSuffix>.00</span>

                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="picker" placeholder="create date"
                                formControlName="create_date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                            <span>
                                <small
                                    *ngIf="productForm.get('create_date').hasError('required') && productForm.get('create_date').touched"
                                    class="error">
                                    Create Date is required
                                </small>
                            </span>
                        </mat-form-field>
                    </div>


                    <div class="col-md-6">
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="picker2" placeholder="expire date"
                                formControlName="expire_date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>

                            <span>
                                    <small
                                        *ngIf="productForm.get('expire_date').hasError('required') && productForm.get('expire_date').touched"
                                        class="error">
                                        Expire Date is required
                                    </small>
                                </span>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <label>Upload Image</label>
                        <br />
                        <input type="file" (change)="readImg($event);">

                        <img [src]="productForm.get('image').value" alt="" height="100px" width="100px">

                        <p *ngIf="invalid_size">Maximum Limit 50 KB</p>
                        <span>
                            <small *ngIf="img_upload_error" class="error">
                                Image is required
                            </small>
                        </span>

                    </div>

                    <div class="col-md-12 mt-4">
                        <button class="save-btn pointer-cursor" [disabled]="!productForm.valid"
                            mat-raised-button (click)="save()">{{btn_text}}</button>
                        &nbsp;&nbsp;
                        <button class="cancel-btn pointer-cursor" mat-raised-button
                            (click)="onClickCancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
