.add-cart-header{
    display: flex;
    flex-direction: row;
  }

  .add-cart-header > * {
    width: 100%;
  }

  .ing-upload{
    background: #26bbad;
  }

.back-btn{
    float: right;
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 25px;
}


.save-btn{
  background: #26bbad;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 25px;
}

.cancel-btn{
  background-color: red;
  color: white;
  padding: 5px 30px;
  border-radius: 25px;
}
  
  .error{
    color: red;
  }