
.cart{
  position: fixed;
  z-index: 99999;
  background-color: #fdfafa;
  width: 370px;
  height: 400px;
  top: 82px;
  right: 16px;
  color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 6px #C3C3C3;
}


.emptyDiv{
  margin: 50px;
}
.emptyDiv> h4{
  text-align: center;
}

.cart-item{
  margin-right: 0 !important;
  border-bottom: 1px solid #ddd;
}
