
<div class="row" 
infiniteScroll 
[infiniteScrollDistance]="2" 
[infiniteScrollThrottle]="50" 
(scrolled)="onScroll()">
<mat-spinner *ngIf="loader" class="loader"></mat-spinner>
    <h3 *ngIf="productlist.length==0 && !loader" class="no-product">No Product Found</h3>
    <div *ngFor="let product of productlist" class="col-md-3">
        <mat-card>
            <img [src]="product?.image" class="md-card-image pointer" alt="product image" width="100%" height="220px" />
            <button class="add-to-cart" mat-button (click)="onClickProductImage(product?.id)">Add to cart</button>
        </mat-card>
    </div>
</div>