
.product-card{
    background: #F3F3F3;
}

.btn-plus{
    padding: 1px 13px;
    background: #26bbad;
    color: #ffffff;
    font-weight: bold;
}

.quantity{
    padding: 0px 75px;
}

.btn-minus{
    padding: 1px 13px;
    background: #26bbad;
    color: #ffffff;
    font-weight: bold
}


.add-to-cart{
    width: 100%;
    background: #26bbad;
    color: #ffffff;
    border-radius: 20px;
}

.view-details-btn{
    width: 100%;
    background: #26bbad;
    color: #ffffff;
}
.no-product{
    text-align: center;
    font-size:30px;
   }
