<div class="row">
    <div class="col-md-4">
        <img [src]="productDetails?.image" class="md-card-image pointer" alt="product image" width="100%"
            height="300px" />
    </div>

    <div class="col-md-8">
        <div class="col-md-12 mt-4">
            <label class="title">Product Name </label>
            <span>{{productDetails?.name}}</span>
            <br />
            <label class="title">Description </label>
            <span>{{productDetails?.description}}</span>
            <br />
            <label class="title">Quantity </label>
            <mat-icon class="mr-2 pointer" (click)="onClickDecrease()">remove_circle_outline</mat-icon>
            <mat-form-field style="width: 50px">
                <input type="number" matInput placeholder="Quantity" [(ngModel)]="quantity">
            </mat-form-field>
            <mat-icon class="ml-2 pointer" (click)="onClickIncrease()">add_circle_outline</mat-icon>
            <br />
            <label class="title">Size </label>
            <span>

                <mat-form-field style="width: 100px">
                    <mat-label>Select size</mat-label>
                    <mat-select name="size" (selectionChange)="onChangeSize($event.value)">
                        <mat-option *ngFor="let size of productDetails?.size" [value]="size">
                            {{size.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </span>
            <br />
            <label class="title">Price </label>
            <span>{{ quantity*selecterSizePrice}}</span>
            <br />
            
            <button mat-raised-button color="primary" class="pointer" [disabled]="selecterSizePrice==0"
                (click)="onClickAddToCart()">Add to cart</button>
            &nbsp;&nbsp; <button class="back-btn" mat-raised-button (click)="onClickBack()">Back</button>

        </div>



    </div>
</div>