
.title{
    width: 150px;
}

.back-btn{
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 25px;
}


.add-to-cart{
    padding: 5px 30px;
    border-radius: 25px;
}