
.product-details{
    height: 500px;
}
.poduct-details-info{
    background-color: #E7F1F3;
}

.poduct-details-img{
    background-color: #E7F1F3;
}

.back-btn{
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 25px;
}


.add-to-cart{
    padding: 5px 30px;
    border-radius: 25px;
}